.featuresSection {
  margin-top: 90px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.title {
  text-align: center;
  font-size: 26px;
  padding-bottom: 30px;
}

.features {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.feature {
  background: #1a1a1a;
  padding: 25px;
  border-radius: 12px;
  text-align: center;

  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
  flex: 1 1 250px;
    max-width: 300px;
}

/* поочередное появление */
.featureVisible {
  opacity: 1;
  transform: translateY(0);
}